* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%)no-repeat;
    min-height: 100dvh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.outputFrame {
    padding: 3vh;
    display: flex;
    gap: 1.5rem;
}

#score {
    padding: 3vh;
    display: flex;
    gap: 1.5rem;
}

.inputFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputField {
    padding: 3vh;
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 1.5rem;
}

#outputRounds {
    display: none;
}

#fight {
    border: 1px solid red;
    position: relative;

}

img {
    width: 30%;
    height: 60%;
}